@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
*{
 box-sizing: border-box;
 margin-top: 0px;
 padding:0;
}
 /* banner container design */
.banner-container{
background-image: url('../assets/Hero-bg.png');
width:1440px;
height:652px;
border:1px solid green;
margin:20px auto 20px;
background-position: center;
background-repeat: no-repeat;

}
.banner-content{
display:flex;
flex-direction:column;
justify-content: flex-start;
align-items: center;
padding: 0px;
gap:20px;
}
.banner-content p{
    width:70%;
}


.header-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;  
}
 .btn-design{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 28px;
    margin-bottom:0px;
    color:white;
    width:140px;
    height:30px;
}
.
.container1-heading{
display:flex;
justify-content:start;
flex-direction:column;
transform:translateY(-690px);
width:300px;
margin-top: 160px;


}
.container1-box1{
    display:flex;
    flex-direction:row;
    transform:translateY(-390px);
    align-content: center;
    margin-top: 280px;
    
   
}
.sub-design{
  flex-direction: column;
  margin-left: -320px;
  margin-right: 10px;
  margin-top:-30px;
  padding:80px;
  align-items: center;
  width:300px;
  
    

}
.container1-box2{
    display:flex;
    flex-direction:row;
    transform:translateY(-80px);
    align-items: center;
    margin-left:-600px;
    flex-direction: row-reverse; 
    margin-top:260px;
        
}
.img-reverse{
    margin-left: 300px;
    margin-right: 120px;
}
.sub-design2{
width:300px;
margin-left: 80px;
}
.container1-box3{
    display:flex;
    flex-direction:row;
    transform:translateY(1800px);
    align-content: center;
    margin-top: 220px;
}
.sub-design3{
    width:300px;
    margin-left: 240px;
}
.container-2{
position: absolute;
width: auto;
height: 480px;
left: 148px;
right: 152px;
top: 1800px;
bottom: 1600px;
margin-top: 100px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
.container2-title{

}
.container3{
width:auto;
height:480px;
margin-top:2100px;
}
.container3-title{

}
.skills-card{
display:flex;
justify-content: space-around;
}
.support{
    background-image: url('../assets/handshake.jpg');
    width:auto;
    height:280px;
    margin-top: 80px;
}
/* Shared styles */
.description-text{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.container-title{
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
    line-height: 28px;
    text-align: center;   

}
.container-subtitle{
font-size:22px;
font-weight: 700;
color:rgba(13, 19, 33, 0.7);
}

