@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
*{
 box-sizing: border-box;
 margin-top: 0px;
 padding:0;
}
 /* banner container design */
.banner-container{
background-image: url('../assets/Hero-bg.png');
width:1440px;
height:652px;
border:1px solid green;
margin:0 auto;
background-position: center;
background-repeat: no-repeat;
margin-top: 20px;

}
.banner-content{
display:flex;
flex-direction:column;
justify-content: flex-start;
align-items: center;
padding: 0px;
gap:20px;
}
.banner-content p{
    width:70%;
}

.header-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;  
}
 .btn-design{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 28px;
    margin-bottom:0px;
    color:white;
    width:140px;
    height:30px;
}

/* container-2 design */
.container-2{
display:flex;
flex-direction: column;
border:1px solid green;
width: 1140px;
height: 1395px;
margin:0 auto;
margin-top: 74px;
padding: 80px 97px 80px 97px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.071);

}
.container-2-heading{
width: 852px;
height: 115px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin:48px 0px;

}

.container2-box1{ 
    display:flex;
    flex-direction: row;   
    width: 946px;
    height: 336px;
    border:1px dotted rgb(255, 0, 0);
    justify-content: space-evenly;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);  
    
}
.left-box{
width: 420px;
height: 220px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin-top: 50px;
    
}
.learn-btn{
    text-decoration:none;
   
}
.right-box{
width: 250px;
height: 220px;
left: 0.36%;
right: -0.36%;
top: 1.74%;
bottom: -1.74%;
margin-top: 50px;
}
.container2-box2{
    display:flex;
    flex-direction: row-reverse;   
    width: 946px;
    height: 336px;
    border:1px dotted rgb(255, 0, 0);
    justify-content: space-evenly;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%); 
   margin-top: 32px;     
}

    
.container2-box3{
    display:flex;
    flex-direction: row;   
    width: 946px;
    height: 336px;
    border:1px dotted rgb(255, 0, 0);
    justify-content: space-evenly;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);  
margin-top:32px;
}

/* container-3:My inspiration */
.container-3{
    width: 1140px;
    height: 777px;
    margin:0 auto;
    border:1px solid green;
    margin-top:88px;
    padding:32px;
}

.container3-heading{
width: 852px;
height: 115px;
margin: 20px auto 20px;
}
.container-3-video{
width: 1076px;
height: 550px;
flex: none;
}

/* Container-4:my current Target */
.Container-4{
width: 1140px;
height: 463px;
border:1px solid green;
margin:149px auto 149px;
display: flex;
flex-direction: column;
}

.container4-heading{
width: 852px;
height: 115px;
}
.cards{
width: 1140px;
height: 300px;
border:1px dotted red;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;
}
.card1{
width: 364px;
height: 300px;
padding:40px;
margin:0px 24px;
background: rgba(255, 76, 30, 0.05);
}
.card2{
    width: 364px;
    height: 300px;
    padding:40px;
    margin:0px 24px;
    background: rgba(30, 180, 255, 0.05);
    }
    .card3{
        width: 364px;
        height: 300px;
        padding:40px;
        margin:0px 24px;
        background: rgba(30, 255, 45, 0.05);
        }
            
.support{
    background-image: url('../assets/handshake.jpg');
    width:auto;
    height:280px;
    margin-top: 80px;
}
/* Shared styles */
.description-text{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.container-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 28px;
    text-align: center;   

}
.container-subtitle{
font-size:22px;
font-weight: 700;
color:rgba(13, 19, 33, 0.7);
}

